In [1]:
# Install and import the required libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Introduction

### Our dataset is about the stats of spotify music from 1986 to 2023
### This dataset contains 35 columns with information about Track, Album, Artist, and Audio

In [2]:
df=pd.read_csv('Spotify 2.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,track_name,popularity,disc_number,duration_ms,explicit,track_number,album_name,album_release_date,...,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,year,duration_min
0,0,0,True Colors,73,1,227600,False,4,True Colors,1986-10-14 00:00:00,...,0.0,0.1160,-13.155,1.0,0.0331,171.282,4.0,0.268,1986,3.793333
1,1,1,Paul Revere,61,1,220840,False,9,Licensed To Ill,1986-11-15 00:00:00,...,6.0,0.2280,-13.232,0.0,0.9440,91.753,4.0,0.578,1986,3.680667
2,2,2,Brass Monkey,68,1,157440,False,11,Licensed To Ill,1986-11-15 00:00:00,...,6.0,0.0992,-8.435,0.0,0.3300,116.371,4.0,0.655,1986,2.624000
3,3,3,Shot in the Dark,66,1,256293,False,9,The Ultimate Sin,1986-02-22 00:00:00,...,6.0,0.1420,-7.262,1.0,0.0324,123.887,3.0,0.619,1986,4.271550
4,4,4,Manic Monday,63,1,184160,False,1,Different Light (Expanded Edition),1986-01-01 00:00:00,...,2.0,0.3580,-10.906,1.0,0.0289,121.761,4.0,0.853,1986,3.069333

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11450 entries, 0 to 11449
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0.1                11450 non-null  int64
 1   Unnamed: 0                  11450 non-null  int64
 2   track_name                  11450 non-null  object
 3   popularity                  11450 non-null  int64
 4   disc_number                 11450 non-null  int64
 5   duration_ms                 11450 non-null  int64
 6   explicit                    11450 non-null  bool
 7   track_number                11450 non-null  int64
 8   album_name                  11450 non-null  object
 9   album_release_date          11450 non-null  object
 10  album_type                  11450 non-null  object
 11  album_total_tracks          11450 non-null  int64
 12  artists_names               11450 non-null  object
 13  principal_artist_name       11450 non-null  object
 14  artist_genres               11333 non-null  object
 15  principal_artist_followers  11449 non-null  float64
 16  acousticness                11445 non-null  float64
 17  danceability                11445 non-null  float64
 18  energy                      11445 non-null  float64
 19  instrumentalness            11445 non-null  float64
 20  key                         11445 non-null  float64
 21  liveness                    11445 non-null  float64
 22  loudness                    11445 non-null  float64
 23  mode                        11445 non-null  float64
 24  speechiness                 11445 non-null  float64
 25  tempo                       11445 non-null  float64
 26  time_signature              11445 non-null  float64
 27  valence                     11445 non-null  float64
 28  year                        11450 non-null  int64
 29  duration_min                11450 non-null  float64
dtypes: bool(1), float64(14), int64(8), object(7)
memory usage: 2.5+ MB

In [5]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'track_name', 'popularity', 'disc_number',
       'duration_ms', 'explicit', 'track_number', 'album_name',
       'album_release_date', 'album_type', 'album_total_tracks',
       'artists_names', 'principal_artist_name', 'artist_genres',
       'principal_artist_followers', 'acousticness', 'danceability', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'year',
       'duration_min'],
      dtype='object')

In [6]:
df.shape

(11450, 30)

In [7]:
print(f'In the Data rows is {df.shape[0]} and column is {df.shape[1]}')

In the Data rows is 11450 and column is 30

In [8]:
df.isna().sum().sort_values(ascending=False)

artist_genres                 117
acousticness                    5
valence                         5
time_signature                  5
tempo                           5
speechiness                     5
mode                            5
loudness                        5
liveness                        5
key                             5
instrumentalness                5
energy                          5
danceability                    5
principal_artist_followers      1
year                            0
Unnamed: 0.1                    0
Unnamed: 0                      0
principal_artist_name           0
artists_names                   0
album_total_tracks              0
album_type                      0
album_release_date              0
album_name                      0
track_number                    0
explicit                        0
duration_ms                     0
disc_number                     0
popularity                      0
track_name                      0
duration_min                    0
dtype: int64

In [9]:
genre=df['artist_genres'].mode()[0]
print(genre)

pop

In [10]:
df['artist_genres'].fillna(genre, inplace=True)
df['artist_genres'].isnull().sum()

0

In [11]:
acoustic=df['acousticness'].mode()[0]
print(acoustic)

0.114

In [12]:
df['acousticness'].fillna(acoustic, inplace=True)
df['acousticness'].isnull().sum()

0

In [13]:
valence=df['valence'].mode()[0]
print(valence)

0.961

In [14]:
df['valence'].fillna(valence, inplace=True)
df['valence'].isnull().sum()

0

In [15]:
time=df['time_signature'].mode()[0]
print(time)

4.0

In [16]:
df['time_signature'].fillna(time, inplace=True)
df['time_signature'].isnull().sum()

0

In [17]:
tempo=df['tempo'].mode()[0]
print(tempo)

0.0

In [18]:
df['tempo'].fillna(tempo, inplace=True)
df['tempo'].isnull().sum()

0

In [19]:
speech=df['speechiness'].mode()[0]
print(speech)

0.0305

In [20]:
df['speechiness'].fillna(speech, inplace=True)
df['speechiness'].isnull().sum()

0

In [21]:
mode=df['mode'].mode()[0]
print(mode)

1.0

In [22]:
df['mode'].fillna(mode, inplace=True)
df['mode'].isnull().sum()

0

In [23]:
loud=df['loudness'].mode()[0]
print(loud)

-6.509

In [24]:
df['loudness'].fillna(loud, inplace=True)
df['loudness'].isnull().sum()

0

In [25]:
live=df['liveness'].mode()[0]
print(live)

0.111

In [26]:
df['liveness'].fillna(live, inplace=True)
df['liveness'].isnull().sum()

0

In [27]:
key=df['key'].mode()[0]
print(key)

7.0

In [28]:
df['key'].fillna(key, inplace=True)
df['key'].isnull().sum()

0

In [29]:
instrument=df['instrumentalness'].mode()[0]
print(instrument)

0.0

In [30]:
df['instrumentalness'].fillna(instrument, inplace=True)
df['instrumentalness'].isnull().sum()

0

In [31]:
energy=df['energy'].mode()[0]
print(energy)

0.768

In [32]:
df['energy'].fillna(energy, inplace=True)
df['energy'].isnull().sum()

0

In [33]:
dance=df['danceability'].mode()[0]
print(dance)

0.551

In [34]:
df['danceability'].fillna(dance, inplace=True)
df['danceability'].isnull().sum()

0

In [35]:
follower=df['principal_artist_followers'].mode()[0]
print(follower)

84618954.0

In [36]:
df['principal_artist_followers'].fillna(follower, inplace=True)
df['principal_artist_followers'].isnull().sum()

0

In [37]:
df.isna().sum().sort_values(ascending=False)

Unnamed: 0.1                  0
Unnamed: 0                    0
year                          0
valence                       0
time_signature                0
tempo                         0
speechiness                   0
mode                          0
loudness                      0
liveness                      0
key                           0
instrumentalness              0
energy                        0
danceability                  0
acousticness                  0
principal_artist_followers    0
artist_genres                 0
principal_artist_name         0
artists_names                 0
album_total_tracks            0
album_type                    0
album_release_date            0
album_name                    0
track_number                  0
explicit                      0
duration_ms                   0
disc_number                   0
popularity                    0
track_name                    0
duration_min                  0
dtype: int64

In [38]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,popularity,disc_number,duration_ms,track_number,album_total_tracks,principal_artist_followers,acousticness,danceability,...,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,year,duration_min
count,11450.000000,11450.000000,11450.000000,11450.000000,1.145000e+04,11450.000000,11450.000000,1.145000e+04,11450.000000,11450.000000,...,11450.000000,11450.000000,11450.000000,11450.000000,11450.000000,11450.000000,11450.000000,11450.000000,11450.000000,11450.000000
mean,5724.500000,719.259825,67.999301,1.017380,2.301816e+05,5.251790,14.206550,9.690021e+06,0.225673,0.610903,...,5.267598,0.182967,-7.533476,0.677817,0.087593,121.015040,3.931616,0.538260,2004.248908,3.836360
std,3305.474626,444.374593,9.334255,0.195043,1.181226e+05,4.415936,9.548194,1.826392e+07,0.261472,0.161300,...,3.543672,0.145018,3.775833,0.467333,0.092973,30.182938,0.352357,0.245022,11.030970,1.968709
min,0.000000,0.000000,44.000000,1.000000,3.349300e+04,1.000000,1.000000,3.100000e+01,0.000000,0.000000,...,0.000000,0.000000,-47.070000,0.000000,0.000000,0.000000,0.000000,0.000000,1986.000000,0.558217
25%,2862.250000,326.000000,61.000000,1.000000,1.917228e+05,2.000000,11.000000,9.069540e+05,0.018300,0.507000,...,2.000000,0.092200,-9.207750,0.000000,0.033900,96.948500,4.000000,0.346000,1995.000000,3.195379
50%,5724.500000,696.000000,68.000000,1.000000,2.232135e+05,4.000000,13.000000,2.901792e+06,0.112000,0.621000,...,5.000000,0.125000,-6.719500,1.000000,0.047300,119.210500,4.000000,0.541000,2004.000000,3.720225
75%,8586.750000,1105.000000,75.000000,1.000000,2.591132e+05,8.000000,16.000000,8.626437e+06,0.362000,0.728000,...,8.000000,0.237000,-5.021000,1.000000,0.093600,140.058750,4.000000,0.736000,2014.000000,4.318554
max,11449.000000,1599.000000,100.000000,10.000000,1.082819e+07,48.000000,176.000000,1.146750e+08,0.996000,0.988000,...,11.000000,0.982000,0.522000,1.000000,0.944000,220.099000,5.000000,0.994000,2023.000000,180.469833